:root {
  --color-bg: #fff;
  --color: #000;
  --link-color: #000;
  transition: all 1s ease;
}

html.dark {
  --color-bg: #000;
  --color: #fff;
  --link-color: #fff;
  transition: all 1s ease;
}

html {
  background-color: var(--color-bg);
  color: var(--color);
}

#Main a{
  color: var(--link-color);
  font-family: Lucida Console, Monaco;
  font-size: 13px;
  transition: all 1s ease;
}

.center {
  position: absolute;
  width: 250px;
  height: 250px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
p {
  font-family: Lucida Console, Monaco;
  font-size: 13px;
}

.fonts {
  font-family: Lucida Console, Monaco;
  font-size: 13px;
}

.blog {
  text-align: center;
}

.title {
  font-family: Lucida Console, Monaco;
  font-size: 20px;
}

.info {
  color: grey;
  font-family: system-ui;
  font-size: 12px;
}