@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --bg-color:#ffffff;
  --font-color:#222;
  --title-color:#0067e6;
  --title-background:#fff;
  --section-border:1px solid rgba(255, 255, 255, 0.4);
  --section-background:rgba(255, 255, 255, 0.4);
}

#toggle_nightDay:checked ~ #fauxBody {
  --bg-color:#111;
  --font-color:#efefef;
  --title-color:#fec150;
  --title-background:#222;
  --section-border:1px solid rgba(255, 255, 255, 0.2);
  --section-background:rgba(25, 25, 25, 0.4);
}


*, *:after, *:before {
	box-sizing:border-box;
}

#fauxBody,
main > section,
main > section > header,
main > section > header h1 {
  transition:color 0.3s, background-color 0.3s;
}

#fauxBody {
  position:relative;
  display:flex;
  overflow:auto;

  color:var(--font-color);
  background-color:var(--bg-color);
}


main > section {
  overflow:hidden;
  border-radius:1em;
  background:var(--section-background);
  border:var(--section-border);

}

main > section > header {
  display:flex;
  padding:1em min(2em, 5vw);
  align-items:center;
  
  background:var(--title-background);
}

main > section > header h1 {
  flex:1 0 auto;
  font-size:1.5rem;
  
  color:var(--title-color);
}

.nightDayLabel {
  position:relative;
  display:block;
  width:4.5em;
  padding:0.5em 0;
  text-align:center;
  font-family:"Font Awesome 5 Free";
  font-weight: 900;
  background:#AAA;
  color:#222;
  border-radius:1.25em;
}

.nightDayLabel:before {
  content:"\f185\A0\A0\A0\A0\f186";
}

.nightDayLabel:after {
  content:"";
  position:absolute;
  top:0.25em;
  left:0.25em;
  width:2em;
  height:2em;
  background:#FFF;
  border-radius:50%;
  transition:left 0.5s;
}

#toggle_nightDay:checked ~ #fauxBody .nightDayLabel:after {
  left:2em;
}
